.dynamic-view {
    display: flex;
    position: relative;
}
.dynamic-view--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.miniature {
    position: absolute;
    width: 90%;
    margin: auto;
    z-index: 1;
    left: 70%;
    transform-origin: top;
}
.dynamic-view--container-text {
    z-index: 2;
}
.dynamic-view--main-title {
    font-size: 8em;
    font-family:"Didot";
    font-weight: lighter;
    font-stretch: expanded; 
    color: var(--blue-color); 
}
.dynamic-view--description {
    font-family: "Moon-regular";
    color: var(--blue-color);
    font-size: 1.1em;
    width: 100%;
    padding: 20px 0;
}
.dynamic-view--explore-button {
    margin-top: 30px;
}

/* CSS TRANSITION */

/* ENTER */
.dynamic-view-enter {
    opacity: 0;
    z-index: 1;
    /* transform: translateY(-100%); */
}
.dynamic-view-enter .dynamic-view--background {
    transform-origin: top;
    transform: scaleY(0);
}
.dynamic-view-enter .miniature {
    transform-origin: bottom;
    /* transform: scaleY(0); */
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

/* ENTER ACTIVE */

.dynamic-view-enter-active {
    opacity: 1;
    transition: 1000ms;
}
.dynamic-view-enter-active .dynamic-view--background {
    transition: 0.5s;
    transform: scaleY(1);
}
.dynamic-view-enter-active .miniature {
    transform-origin: bottom;
    clip-path: polygon(0% 0%, 100% 00%, 100% 100%, 0% 100% );
    transition: 0.5s;
}

/* EXIT */
.dynamic-view-exit {
    opacity: 1;
    position: absolute;
}

/* EXIT ACTIVE */

.dynamic-view-exit-active {
    opacity: 0;
    transition: 2s;
}