:root {
    --anim-duration : 1.5s;
}
.dynamic-view {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.dynamic-view--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.dynamic-view--miniature {
    position: absolute;
    width: 90%;
    margin: auto;
    z-index: 1;
    left: 70%;
    transform-origin: top;
}
.dynamic-view--container-text {
    height: 30%;
    z-index: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dynamic-view--main-title {
    font-size: 6.5vw;
    font-family:"Didot";
    font-weight: lighter;
    font-stretch: expanded; 
    color: var(--blue-color); 
}
.dynamic-view--description {
    font-family: "Moon-regular";
    color: var(--blue-color);
    font-size: 1.1em;
    width: 100%;
    padding: 20px 0;
}
.dynamic-view--explore-button {
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

/* CSS TRANSITION */

/* ENTER */
.dynamic-view-enter {
    opacity: 0;
    z-index: 1;
}
.dynamic-view-enter .dynamic-view--background {
    transform-origin: top;
    transform: scaleY(0);
}
.dynamic-view-enter .dynamic-view--miniature {
    transform-origin: bottom;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.dynamic-view-enter .dynamic-view--container-text {
    transform: translateY(200%);
    opacity: 0;
}
.dynamic-view--right-bar {
    position: absolute;
    right: -100%;
    width: 10px;
    height: 60%;
}

/* ENTER ACTIVE */

.dynamic-view-enter-active {
    opacity: 1;
    transition: var(--anim-duration);
}
.dynamic-view-enter-active .dynamic-view--background {
    transition: var(--anim-duration);
    transform: scaleY(1);
}
.dynamic-view-enter-active .dynamic-view--miniature {
    transform-origin: bottom;
    clip-path: polygon(0% 0%, 100% 00%, 100% 100%, 0% 100% );
    transition: var(--anim-duration);
}
.dynamic-view-enter-active .dynamic-view--container-text {
    transform: translateY(0%);
    transition: var(--anim-duration);
    opacity: 1;
    transition-timing-function: ease;
    transition-delay: 0.5s;
}

/* EXIT */
.dynamic-view-exit {
    opacity: 1;
    position: absolute;
}

/* EXIT ACTIVE */

.dynamic-view-exit-active {
    opacity: 0;
    transition: var(--anim-duration);
}
/* RESPONSIVE */
@media screen and (max-width : 1050px) {
    .dynamic-view--miniature {
        width: 110%;
    }
}
@media screen and (max-width : 650px) {
    .dynamic-view--right-bar {
        right: -33.5%;
        top: 60%;
    }
    .dynamic-view--miniature {
        left: 20%;
        width: 85%;
        top: 75%;
        z-index: 4;
    }
    .dynamic-view--container-text {
        justify-content: center;
    }
}
