.explore-button {
    background-color: #2F3245;
    color: white;
    border: none;
    font-family: "Moon-regular";
    outline: none;
    letter-spacing: 2px;
    font-size: 1em;
    padding: 20px 30px;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    width: 200px;
    cursor: pointer;
    
}
.explore-button span {
    transition: 0.5s;
}
.explore-button:hover span {
    color: black;
    letter-spacing: 5px;
    
}
.explore-button:before {
    content: "";
    position: absolute;
    display: block;
    z-index: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(0%);
    transition: 0.5s;
}
.explore-button:hover::before {
    clip-path: circle(100%);
}
.explore-button--text {
    z-index: 1;
    position: relative;
}

@keyframes circle-arrival {
    from {
        clip-path: circle(0%);
    }
    to {
        clip-path: circle(100%);
    }
}
@media screen and (max-width : 650px) {
    .explore-button {
        padding: 15px;
        width: 150px;
    }
    .explore-button--text {
        font-size: .8em;
    }
}