.nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    height: 45px;
}
.nav-bar--container-items {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
}
.nav-bar--container-items  > div {
    width: 30%;
    box-sizing: border-box;
}
.nav-bar--container-burger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@keyframes exit-nav {
    0% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* CSS TRANSITION */

/* ENTER */
.nav-bar--nav-button-enter {
    transform: translateY(-200%);
}

/* ENTER ACTIVE */
.nav-bar--nav-button-enter-active {
    transform : translateY(0);
    transition: 0.3s;
}
.nav-bar--nav-button-enter-active:nth-child(1){
    transition-delay: 0s;
}
.nav-bar--nav-button-enter-active:nth-child(2){
    transition-delay: 100ms;
}
.nav-bar--nav-button-enter-active:nth-child(3){
    transition-delay: 0.2s;
}
/* EXIT */
.nav-bar--nav-button-exit {
    transform: translateY(0);
}

/* EXIT ACTIVE */
.nav-bar--nav-button-exit-active {
    transform : translateY(-200%);
    transition: 0.3s;
}
.nav-bar--nav-button-exit-active:nth-child(1){
    transition-delay: 0ms;
}
.nav-bar--nav-button-exit-active:nth-child(2){
    transition-delay: 100ms;
}
.nav-bar--nav-button-exit-active:nth-child(3){
    transition-delay: 200ms;
}