.evolution-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 85%;
}
.evolution-bar--button {
    font-family: "Moon-regular";
}
.evolution-bar--button:hover::before {
    transform: scale(1);
}
.evolution-bar--container-bar {
    width: 50%;
    height: 2px;
    display: block;
    width: 40%;
    background-color: var(--grey-color);
    border-radius: 100px;
    position: relative;
}
/* .evolution-bar--bar {
    height: 100%;
    display: block;
    width: 100%;
    background-color: var(--grey-color);
    border-radius: 100px;
    position: relative;
} */
.evolution-bar--bar{
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue-color);
    display: block;
    transform-origin: left;
    transform: scaleX(0.5);
}