:root {
    --back-blue-color : #83DCFF;
    --back-yellow-color : #FFF396;
    --back-grey-color : #E6E4E5;
    --blue-color :  #2F3245;
    --grey-color : #B5BECB;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 80%;
}
@font-face {
    font-family: "Moon-regular";
    src: url("./assets/font/Moon2.0-Regular.otf");
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon-Bold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon2.0-Light.otf");
    font-weight: lighter;
}
@font-face {
    font-family: "Didot";
    src: url("./assets/font/Didot-medium.ttf");
}