:root {
    --back-blue-color : #83DCFF;
    --back-yellow-color : #FFF396;
    --back-grey-color : #E6E4E5;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 90%;
}
@font-face {
    font-family: "Moon-regular";
    src: url("./assets/font/Moon2.0-Regular.otf");
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon2.0-Bold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon2.0-Light.otf");
    font-weight: lighter;
}