@font-face {
    font-family: "Moon-regular";
    src: url("./assets/font/Moon2.0-Regular.otf");
    font-display: swap;
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon-Bold.otf");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Moon";
    src: url("./assets/font/Moon2.0-Light.otf");
    font-weight: lighter;
    font-display: swap;
}
@font-face {
    font-family: "Didot";
    src: url("./assets/font/Didot-medium.ttf");
    font-display: swap;
}

:root {
    --back-blue-color : #83DCFF;
    --back-yellow-color : #FFF396;
    --back-grey-color : #E6E4E5;
    --blue-color :  #2F3245;
    --grey-color : #B5BECB;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 80%;
    overflow: hidden;
}
.app {
    display: flex;
    height: 100vh;
}
.app--logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}
.app--container-nav {
    z-index: 3;
    width: 70%;
}
.app--left-part {
    z-index: 1;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}
.app--right-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 50px;
    box-sizing: border-box;
}
.app--evolution-bar-container {
    width: 60%;
    align-self: center;
}
.app--dynamic-view {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 20%;
    display: flex;

}

@media screen and (max-width : 1050px) {
    .app--container-nav {
        width: 80%;
    }
    .app--evolution-bar-container {
        width: 80%;
    }
}
@media screen and (max-width : 850px) {
    .app--right-part {
        padding: 30px 20px;
    }
    .app--container-nav, .app--evolution-bar-container {
        width: 100%;
    }
}
@media screen and (max-width : 650px) {

    .app--right-part {
        width: 100%;
    }
    .app--left-part {
        position: absolute;
        height: 70vh;
        width: 80%;
    }
    .app--evolution-bar-container {
        width: 75%;
    }
}